.span-color__highlight {
    color: var(--dashui-indigo);
}

.word-page span {
    font-size: 1.1875rem;
}

.word-page-img {
    position: relative;
    /*bottom: 60px;*/
}

.word-page-img img{
    max-width: 100%;
    height: auto;
}



.w-top-content div:nth-child(1){
    order: 1;
}

.w-top-content div:nth-child(2){
    order: 2;
}


@media (min-width: 320px) {

    .search__container {
        max-width: 100%;
    }

    .word-page-img {
        top: 0;
    }

    .col-md-5-custom {
        flex: 0 0 auto;
        width: 100%;
    }

    .w-top-content div:nth-child(1) {
        order: 2;
    }
    .w-top-content div:nth-child(2) {
        order: 1;
    }

}
@media (max-width: 768px) {



    .col-md-5-custom {
        flex: 0 0 auto;
        width: 100%;
    }

    .w-top-content div:nth-child(1) {
        order: 2;
    }
    .w-top-content div:nth-child(2) {
        order: 1;
    }

}


@media (min-width: 1400px) {

    .col-md-5-custom {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
}
@media (min-width: 1700px) {

    .col-md-5-custom {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
}

@media (min-width: 768.01px) {

    .search__container {
        max-width: 46%;
    }

    .word-page-img {
        top: -60px;
    }

    .w-top-content div:nth-child(1) {
        order: 1;
    }
    .w-top-content div:nth-child(2) {
        order: 2;
    }

}
