

.word-page span {
    font-size: 1.1875rem;
}
.word-page h1 {
    color: #2dc26b;
}

.w-page-img {
    position: relative;
    /*bottom: 60px;*/
}

.w-page-img img{
    max-width: 100%;
    height: auto;
}

.audio-container {
    border: 1px solid;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

/*.w-top-content div:nth-child(1){*/
/*    order: 1;*/
/*}*/

/*.w-top-content div:nth-child(2){*/
/*    order: 2;*/
/*}*/


@media (min-width: 320px) {

    /*.w-page-img {*/
    /*    top: 0;*/
    /*}*/

    .col-md-5-custom {
        flex: 0 0 auto;
        width: 100%;
    }

    /*.w-top-content div:nth-child(1) {*/
    /*    order: 2;*/
    /*}*/
    /*.w-top-content div:nth-child(2) {*/
    /*    order: 1;*/
    /*}*/

}

@media (min-width: 768.01px) {

    .w-page-img {
        top: 0;
    }
}

@media (max-width: 768px) {

    .col-md-5-custom {
        flex: 0 0 auto;
        width: 100%;
    }

}


@media (min-width: 1400px) {

    .col-md-5-custom {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
}
@media (min-width: 1700px) {

    .col-md-5-custom {
        flex: 0 0 auto;
        width: 41.66666667%;
    }
}


