.category-tree ul li {
    list-style-type: disc !important;
}

.category-tree {
    margin-top: 20px;
    font-size: 20px;
}

.edit {
    margin-left: 10px;
}


.toggle {
    cursor: pointer;
    border: none;
    background: none;
    height: 40px;
    width: 40px;

}

.color-arrow-svg {
    filter: brightness(0) saturate(100%) invert(49%) sepia(98%) saturate(1760%) hue-rotate(164deg) brightness(97%) contrast(95%);
    transition: 0.1s ease-in-out;
}

.color-arrow-svg:hover {
    filter: brightness(0) saturate(100%) invert(53%) sepia(7%) saturate(13%) hue-rotate(32deg) brightness(100%) contrast(87%);
}

.color-edit-svg {
    filter: brightness(0) saturate(100%) invert(45%) sepia(80%) saturate(333%) hue-rotate(77deg) brightness(91%) contrast(99%);
    transition: 0.1s ease-in-out;
}

.color-edit-svg:hover {
    filter: brightness(0) saturate(100%) invert(44%) sepia(84%) saturate(4277%) hue-rotate(357deg) brightness(102%) contrast(102%);
}

.category {
    height: 0;
    opacity: 0;
    margin: 0;
    visibility: hidden;
    transition: opacity 0.9s, height 1.9s, visibility 0.3s linear;
}

.category.visible {
    margin-left: 20px;
    opacity: 1;
    height: auto;
    visibility: visible;
}

.category-edit-img {
    max-width: 100%;
    width: auto;
}

.category-edit-img-container {
    border: 2px solid;
    border-radius: 10px;
    margin-top: 15px;
}

.block-h {
    height: 0;
    opacity: 0;
    margin: 0;
    visibility: hidden;
    transition: opacity 0.9s, height 1.9s, visibility 0.3s linear;

}
.block-h.visit {
    opacity: 1;
    height: auto;
    visibility: visible;
}
.category-tree input,
.category-tree select {
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
}
.category-tree select option {
    font-size: 18px;
}

.category-tree button {
    height: 32px;
    text-align: center;
    padding: 7px 0 0 15px;
}